body {
  font-family: sans-serif;
}

.form,
.greetings {
  font-size: 40px;
  margin: 30px;
}

.js-weather {
  color: palegreen;
  position: absolute;
  right: 18px;
  top: 18px;
}
.js-clock {
  text-align: center;
  color: peachpuff;
  font-size: 60px;
  height: 200px;
}
.form,
.greetings {
  display: none;
}

.showing {
  display: block;
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
